.hero__button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 32px;

  @extend %button;

  @include transition(border-color);

  &:focus,
  &:hover {
    @include transition(border-color);
    background-color: $hover-btn-color;
  }
}

.form__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;

  @extend %button;

  @include transition(border-color);

  &:focus,
  &:hover {
    @include transition(border-color);
    background-color: $hover-btn-color;
  }
}

.subscription__button {
  height: 50px;

  padding: 10px, 28px;

  @extend %button;

  @include transition(border-color);

  &:focus,
  &:hover {
    @include transition(border-color);
    background-color: $hover-btn-color;
  }
  @media screen and (min-width: $desctop) {
    margin-left: 12px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }
}
