/* Утилиты */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* Общие значания */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

body {
  color: $general-text-color;

  font-family: $general-font;
  letter-spacing: 0.03em;
}
li {
  list-style-type: none;
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
@media screen and (min-width: $mobile) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: $laptop) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: $desctop) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .container {
    width: 1200px;
  }
}
