//  Цвест тексат
$general-text-color: #757575;
$secondary-title-color: #ffffff;
$title-color: #212121;
$opacity-color-txt: rgba(255, 255, 255, 0.6);
$button-color-text: #ffffff;
$input-text-color: #ffffff;
$text-apear-color: #ffffff;
//  Цвет акцентов
$logo-accent-color: #2196f3;
$accent-color: #2196f3;
$hover-btn-color: #188ce8;
$accent-color-logo-footer: #ffffff;
$accent-color-portfolio-button: #ffffff;
//  Цвет фона
$button-color-general: #2196f3;
$general-color-bcg: #e5e5e5;
$footer-hero-color-bcg: #2f303a;
$hero-color-bcg: #2f303a;
$secondaru-color-bcg: #f5f4fa;
$modal-bcg: #ffffff;
$team-card-bcg: #ffffff;
$card-bcg: #ffffff;
$apear-card-bcg: rgba(33, 150, 243, 0.9);
//  svg
$svg-general-color: #afb1b8;
$svg-secondary-color: #757575;
$svg-accent-color-white: #ffffff;
// fonts
$general-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
// border
$checkbox-border: #212121;
$mobile: 480px;
$laptop: 768px;
$desctop: 1200px;
